<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wuhenjian.microservicescaffolding.service2.dao.AMapper" >
  <resultMap id="BaseResultMap" type="com.wuhenjian.microservicescaffolding.util.domain.entity.A" >
    <id column="aid" property="aid" jdbcType="INTEGER" />
    <result column="aname" property="aname" jdbcType="VARCHAR" />
    <result column="atime" property="atime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    aid, aname, atime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_a
    where aid = #{aid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_a
    where aid = #{aid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wuhenjian.microservicescaffolding.util.domain.entity.A" >
    <selectKey resultType="java.lang.Integer" keyProperty="aid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_a (aname, atime)
    values (#{aname,jdbcType=VARCHAR}, #{atime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.wuhenjian.microservicescaffolding.util.domain.entity.A" >
    <selectKey resultType="java.lang.Integer" keyProperty="aid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_a
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="aname != null" >
        aname,
      </if>
      <if test="atime != null" >
        atime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="aname != null" >
        #{aname,jdbcType=VARCHAR},
      </if>
      <if test="atime != null" >
        #{atime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <insert id="insertBatch">
    INSERT INTO t_a
    (aname, atime) VALUES
    <foreach collection="records" item="record" separator=",">
      (#{record.aname}, #{record.atime})
    </foreach>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wuhenjian.microservicescaffolding.util.domain.entity.A" >
    update t_a
    <set >
      <if test="aname != null" >
        aname = #{aname,jdbcType=VARCHAR},
      </if>
      <if test="atime != null" >
        atime = #{atime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where aid = #{aid,jdbcType=INTEGER}
  </update>
  <sql id="Model_Where_Clause" >
    <where >
      <if test="aid != null" >
         and aid=#{aid}
      </if>
      <if test="aname != null" >
         and aname=#{aname}
      </if>
      <if test="atime != null" >
         and atime=#{atime}
      </if>
    </where>
  </sql>
  <select id="countByModel" parameterType="com.wuhenjian.microservicescaffolding.util.domain.entity.A" resultType="java.lang.Integer" >
    select count(*) from t_a
    <if test="_parameter != null" >
      <include refid="Model_Where_Clause" />
    </if>
  </select>
  <select id="selectByModel" resultType="com.wuhenjian.microservicescaffolding.util.domain.dto.ADTO" parameterType="com.wuhenjian.microservicescaffolding.util.domain.entity.A" >
    select
    <include refid="Base_Column_List" />
    from t_a
    <if test="_parameter != null" >
      <include refid="Model_Where_Clause" />
    </if>
  </select>
  <cache />
</mapper>