<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wuhenjian.microservicescaffolding.service2.dao.BMapper" >
  <resultMap id="BaseResultMap" type="com.wuhenjian.microservicescaffolding.util.domain.entity.B" >
    <id column="bid" property="bid" jdbcType="INTEGER" />
    <result column="bname" property="bname" jdbcType="VARCHAR" />
    <result column="aid" property="aid" jdbcType="INTEGER" />
    <result column="btime" property="btime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    bid, bname, aid, btime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_b
    where bid = #{bid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_b
    where bid = #{bid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wuhenjian.microservicescaffolding.util.domain.entity.B" >
    <selectKey resultType="java.lang.Integer" keyProperty="bid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_b (bname, aid, btime
      )
    values (#{bname,jdbcType=VARCHAR}, #{aid,jdbcType=INTEGER}, #{btime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wuhenjian.microservicescaffolding.util.domain.entity.B" >
    <selectKey resultType="java.lang.Integer" keyProperty="bid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_b
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="bname != null" >
        bname,
      </if>
      <if test="aid != null" >
        aid,
      </if>
      <if test="btime != null" >
        btime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="bname != null" >
        #{bname,jdbcType=VARCHAR},
      </if>
      <if test="aid != null" >
        #{aid,jdbcType=INTEGER},
      </if>
      <if test="btime != null" >
        #{btime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <insert id="insertBatch">
    INSERT INTO t_b
    (bname, aid, btime) VALUES
    <foreach collection="records" item="record" separator=",">
      (#{record.bname}, #{record.aid}, #{record.btime})
    </foreach>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wuhenjian.microservicescaffolding.util.domain.entity.B" >
    update t_b
    <set >
      <if test="bname != null" >
        bname = #{bname,jdbcType=VARCHAR},
      </if>
      <if test="aid != null" >
        aid = #{aid,jdbcType=INTEGER},
      </if>
      <if test="btime != null" >
        btime = #{btime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where bid = #{bid,jdbcType=INTEGER}
  </update>
  <sql id="Model_Where_Clause" >
    <where >
      <if test="bid != null" >
         and bid=#{bid}
      </if>
      <if test="bname != null" >
         and bname=#{bname}
      </if>
      <if test="aid != null" >
         and aid=#{aid}
      </if>
      <if test="btime != null" >
         and btime=#{btime}
      </if>
    </where>
  </sql>
  <select id="countByModel" parameterType="com.wuhenjian.microservicescaffolding.util.domain.entity.B" resultType="java.lang.Integer" >
    select count(*) from t_b
    <if test="_parameter != null" >
      <include refid="Model_Where_Clause" />
    </if>
  </select>
  <select id="selectByModel" resultType="com.wuhenjian.microservicescaffolding.util.domain.dto.BDTO" parameterType="com.wuhenjian.microservicescaffolding.util.domain.entity.B" >
    select
    <include refid="Base_Column_List" />
    from t_b
    <if test="_parameter != null" >
      <include refid="Model_Where_Clause" />
    </if>
  </select>
  <cache />
</mapper>