<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wuhenjian.microservicescaffolding.service2.dao.CMapper" >
  <resultMap id="BaseResultMap" type="com.wuhenjian.microservicescaffolding.util.domain.entity.C" >
    <id column="cid" property="cid" jdbcType="INTEGER" />
    <result column="cname" property="cname" jdbcType="VARCHAR" />
    <result column="ctime" property="ctime" jdbcType="TIMESTAMP" />
    <result column="bid" property="bid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    cid, cname, ctime, bid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_c
    where cid = #{cid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_c
    where cid = #{cid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wuhenjian.microservicescaffolding.util.domain.entity.C" >
    <selectKey resultType="java.lang.Integer" keyProperty="cid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_c (cname, ctime, bid
      )
    values (#{cname,jdbcType=VARCHAR}, #{ctime,jdbcType=TIMESTAMP}, #{bid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wuhenjian.microservicescaffolding.util.domain.entity.C" >
    <selectKey resultType="java.lang.Integer" keyProperty="cid" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_c
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cname != null" >
        cname,
      </if>
      <if test="ctime != null" >
        ctime,
      </if>
      <if test="bid != null" >
        bid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cname != null" >
        #{cname,jdbcType=VARCHAR},
      </if>
      <if test="ctime != null" >
        #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="bid != null" >
        #{bid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <insert id="insertBatch">
    INSERT INTO t_c
    (cname, ctime, bid) VALUES
    <foreach collection="records" item="record" separator=",">
      (#{record.cname}, #{record.ctime}, #{record.bid})
    </foreach>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wuhenjian.microservicescaffolding.util.domain.entity.C" >
    update t_c
    <set >
      <if test="cname != null" >
        cname = #{cname,jdbcType=VARCHAR},
      </if>
      <if test="ctime != null" >
        ctime = #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="bid != null" >
        bid = #{bid,jdbcType=INTEGER},
      </if>
    </set>
    where cid = #{cid,jdbcType=INTEGER}
  </update>
  <sql id="Model_Where_Clause" >
    <where >
      <if test="cid != null" >
         and cid=#{cid}
      </if>
      <if test="cname != null" >
         and cname=#{cname}
      </if>
      <if test="ctime != null" >
         and ctime=#{ctime}
      </if>
      <if test="bid != null" >
         and bid=#{bid}
      </if>
    </where>
  </sql>
  <select id="countByModel" parameterType="com.wuhenjian.microservicescaffolding.util.domain.entity.C" resultType="java.lang.Integer" >
    select count(*) from t_c
    <if test="_parameter != null" >
      <include refid="Model_Where_Clause" />
    </if>
  </select>
  <select id="selectByModel" resultType="com.wuhenjian.microservicescaffolding.util.domain.dto.CDTO" parameterType="com.wuhenjian.microservicescaffolding.util.domain.entity.C" >
    select
    <include refid="Base_Column_List" />
    from t_c
    <if test="_parameter != null" >
      <include refid="Model_Where_Clause" />
    </if>
  </select>
  <cache />
</mapper>